.btn {
    padding: 0.8em 1em;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.1em;
    cursor: pointer;
    box-shadow: 0 2px 8px 1px #0008;
}
.btn + .btn {
    margin-right: 20px;
}
.btn.btn-round {
    border-radius: 1.3em;
}
.btn.btn-round.btn-icon {
    width: 1.25em;
    height: 1.25em;
    font-size: 40px;
    line-height: 1.2;
    padding: 0;
}
.btn:hover {
    background-color: var(--secondary-color-dark);
}
