.mouse {
    font-size: 1.3px;
    display: inline-block;
    width: 26em;
    height: 40em;
    text-align: center;
    border: 2.5em solid #fff;
    border-radius: 13em;
}

.mouse > .wheel {
    display: inline-block;
    width: 3em;
    height: 5em;
    background-color: #fff;
    margin-top: 7em;
    border-radius: 1.5em;
    animation-name: scrolling;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes scrolling {
    0% {
        margin-top: 8em;
        /* background-color: #ffff; */
        opacity: 1;
    }
    35% {
        /* background-color: #ffff; */
        opacity: 1;
    }
    100% {
        margin-top: 24em;
        /* background-color: #fff0; */
        opacity: 0;
    }
}
