/* base */
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* CUSTOM STYLES BELOW THIS COMMENT, FOR THIS PAGE */

.container {
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
    background-color: yellow;
}

.container > .left {
    width: 40%;
    float: left;
    margin-right: 5%;
    background-color: blueviolet;
}
.container > .right {
    width: 55%;
    float: left;
    background-color: orange;
}

/* min-width */
/* max-width */
@media (max-width: 1100px) {
    .container {
        width: 800px;
        margin-left: calc(50% - 400px);
        background-color: pink;
    }
}

@media (max-width: 900px) {
    .container {
        width: 600px;
        margin-left: calc(50% - 300px);
        background-color: antiquewhite;
    }

    .container > .left {
        width: 100%;
        margin-right: 0;
    }
    .container > .right {
        width: 100%;
        margin-top: 40px;
    }
}

@media (max-width: 700px) {
    .container {
        width: 400px;
        margin-left: calc(50% - 200px);
        background-color: aquamarine;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        margin-left: 0;
        padding: 30px;
        background-color: aquamarine;
    }
}