/* base */
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../components/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* CUSTOM STYLE BELOW THIS COMMENT, FOR THIS PAGE */

/* HERO: start */
.hero {
    min-height: 100vh;
    padding-bottom: 30px;
    background-image: url(../../img/banner-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero > .row-short {
    text-align: center;
}

.hero .logo {
    width: 100%;
    height: 50px;
    margin-bottom: 45px;
    object-fit: contain;
    object-position: center;
}

.hero .main-title {
    margin-bottom: 15px;
    font-size: 44px;
    text-transform: uppercase;
}

.hero .main-description {
    margin-bottom: 30px;
    font-size: 18px;
    color: #777;
}

.hero .clock {
    margin-bottom: 30px;
}

.hero .form {
    width: 90%;
    margin: 0 5% 15px;
}
.hero .form > .input {
    color: #fff;
    border-color: currentColor;
}
.hero .form > .input::placeholder {
    color: currentColor;
}
/* HERO: end */

/* MAIN CONTENT: start */
.column > * {
    margin-bottom: 20px;
}
.column > *:last-child {
    margin-bottom: 0;
}

.content-title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2em;
}

.content-description {
    font-size: 17px;
    color: #999;
}

.content-description > .link {
    color: var(--secondary-color);
    text-decoration: none;
}
.content-description > .link:hover {
    text-decoration: underline;
}

main .form > button {
    float: right;
}

@media (min-width: 900px) {
    main .form > input.input {
        width: calc(50% - 10px);
    }
    main .form > input.input:last-of-type {
        float: right;
    }
}
/* MAIN CONTENT: end */

/* FOOTER: start */
footer.container {
    padding-top: 0;
}

.socials {
    padding: 15px 0;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.socials > .fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s;
}

.socials > .fa:hover {
    background-color: #fff;
    color: var(--primary-color);
}

/* FOOTER: end */
